{% extends 'base.html' %}
{% load i18n %} 
{% block content %} 
{% load static %}


<section>
   
    <!--====== PRELOADER PART START ======-->
    
    <div class="preloader">
        <div class="loader rubix-cube">
            <div class="layer layer-1"></div>
            <div class="layer layer-2"></div>
            <div class="layer layer-3 color-1"></div>
            <div class="layer layer-4"></div>
            <div class="layer layer-5"></div>
            <div class="layer layer-6"></div>
            <div class="layer layer-7"></div>
            <div class="layer layer-8"></div>
        </div>
    </div>
    
    <!--====== PRELOADER PART START ======-->
    
    <!--====== CONTACT PART START ======-->
    
    <section>
        <div class="preloader">
            <div class="loader rubix-cube">
                <div class="layer layer-1"></div>
                <div class="layer layer-2"></div>
                <div class="layer layer-3 color-1"></div>
            </div>
        </div>
        
        <section id="contact-page" class="pt-90 pb-120 gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="contact-from mt-30">
                            <div class="section-title">
                                <h5>{% blocktranslate %}Bog'lanish{% endblocktranslate %}</h5>
                                <h2>{% blocktranslate %}Aloqada bo'lish{% endblocktranslate %}</h2>
                            </div>
                            <div class="main-form pt-45">
                                <form id="contact-form" action="{% url 'submit_petition' %}" method="post" data-toggle="validator">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="singel-form form-group">
                                                <input name="full_name" type="text" placeholder="Ismingiz" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="singel-form form-group">
                                                <input name="email" type="email" placeholder="Elektron pochta" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="singel-form form-group">
                                                <input name="topic" type="text" placeholder="Mavzu" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="singel-form form-group">
                                                <input name="phone_number" type="text" placeholder="Telefon raqam" required>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="singel-form form-group">
                                                <textarea name="body" placeholder="Xabar" required></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="singel-form">
                                                <button type="submit" class="main-btn">{% blocktranslate %}Yuborish{% endblocktranslate %}</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="contact-address mt-30">
                            <ul>
                                <li>
                                    <div class="singel-address">
                                        <div class="icon">
                                            <i class="fa fa-home"></i>
                                        </div>
                                        <div class="cont">
                                            <p>{% blocktranslate %}Kimyogarlar" MFY Irteshar GES ko'chasi 5-uy{% endblocktranslate %}</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="singel-address">
                                        <div class="icon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <div class="cont">
                                            <p> +998 (66) 231 23 24</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="singel-address">
                                        <div class="icon">
                                            <i class="fa fa-envelope-o"></i>
                                        </div>
                                        <div class="cont">
                                            <p>samqurkoll@umail.uz</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="map mt-30">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d639.6837530799608!2d66.85461762073903!3d39.65907830584256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suz!2s!4v1734327882613!5m2!1suz!2s" style="width:100%;height:300px;border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    

{% endblock content %}