{% extends 'base.html' %}
{% load i18n %}
{% block content %} 
{% load static %}

<section id="teachers-page" class="pt-90 pb-120 gray-bg">
    <div class="px-5">
        <div class="row">

            {% for item in data %}
                <div class="col-md-5">
                    <div class="card">
                        <div class="row p-3">
                          <div class="col-md-4">
                            <img class="rounded" src="{{item.image}}" alt="" />
                          </div>
                          <div class="col-md-8">
                            <h3>{{item.full_name}}</h3>
                            <div>
                              <span class="text-secondary">{% blocktranslate %}E-pochta: {% endblocktranslate %}</span> {{item.email}}
                            </div>
                            <div>
                              <span class="text-secondary">{% blocktranslate %}Telefon raqam: {% endblocktranslate %}</span>
                              {{item.phone_number}}
                            </div>
                            <div>
                              <span class="text-secondary">{% blocktranslate %}Qabul kunlari: {% endblocktranslate %}</span>
                              {{item.acceptions}}
                            </div>
                            <div>
                                <span class="text-secondary">{% blocktranslate %}Manzil: {% endblocktranslate %}</span> {{data.adress}}
                              </div>
                            <div>
                              <span class="text-secondary">{% blocktranslate %}Lavozimi: {% endblocktranslate %}</span> {{item.position}}
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            {% endfor %}
        </div>


    </div>
    

</section>


{%endblock%}