{% extends 'base.html' %}
{% load i18n %}
{% block content %} 
{% load static %}

<section id="teachers-page" class="pt-90 pb-120 gray-bg">
    <div class="px-5">
        <div class="row">

            {% for item in data %}
                <div class="col-md-4">
                    <div class="card" >
                        <img src="{{item.image}}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">{{item.full_name}}</h5>
                        <p class="card-text">{{item.position}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">{% blocktranslate %}Qabul kunlari: {% endblocktranslate %}{{item.acceptions}}</li>
                        <li class="list-group-item">{% blocktranslate %}Telefon raqam: {% endblocktranslate %}{{item.phone_number}}</li>
                        <li class="list-group-item">{% blocktranslate %}Email: {% endblocktranslate %}{{item.email}}</li>
                        </ul>
                        
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>
    

</section>


{%endblock%}